<html>
  <head>
    <title>Cheeper - better than Twitter</title>
  </head>
  <body>
    <h1>Cheeper</h1>
    <form action='/api/cheep' method='POST'>
      Name:
      <input name="name" type="text" /> 
      Cheep:
      <input name="cheep" type="text" maxlength="76" /> 
      <input type="submit" />
    </form>
    <div id="feed">
      <h2> Cheeps </h2>
        {% for cheep in cheeps %}
        <div class="cheep">
            <b>{{ cheep[0] }}</b>
            <p>{{ cheep[2] }}</p>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
